@model PersonalWebSite.Entities.Models.User

<form asp-action="Login" method="post">
    <div>
        <label for="Email">E-Posta:</label>
        <input type="email" id="Email" name="email" class="form-control" />
    </div>
    <div>
        <label for="Password">Şifre:</label>
        <input type="password" id="Password" name="password" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>
</form>
